/* Override invalid input style with yellow warning style */

input.is-invalid.warninput,
textarea.is-invalid.warninput,
div.warninput input
{
  border-color: var(--bs-warning) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ffca2c'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ffca2c' stroke='none'/%3e%3c/svg%3e");
}

input.is-invalid.warninput:focus,
textarea.is-invalid.warninput:focus,
div.warninput input:focus
{
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-warning-rgb), 0.3) !important;
}

div.warninput label {
  color: var(--bs-warning) !important;
}

div.warninput input[type=checkbox] {
  background-color: rgba(var(--bs-warning-rgb), 0.1) !important;
  background-image: none !important;
}