body {
  margin: 0;
}

.customSeparatorLine {
  margin-top: 50px;
  margin-bottom: 4px;
  margin-left: 30%;
  margin-right: 30%;
  height: 1px;
}

/* bootstrap icon margins */
.bi {
  margin-right: 3px;
  margin-left: 3px;
}