.card:hover {
  border-color: darkgray;
}

.viewCardTab {
  min-width: 100px;
}

/* info */
.infoText {
  font-style: italic;
	text-align: justify;
	text-align-last: center;
}

/* bootstrap icon margins for view card tabs */
.bi-cardTab {
  margin-right: 5px;
  margin-left: 5px;
}
